
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .a{
            width: 100%;height: 100%;
            display: flex;
            justify-content: center;align-content: center;

        }
        h3 {
          color: #575656;
          margin-top: -5px;
}
        .b{

           width: 500px;height: 200px;
        }

    </style>
</head>
<body>
<div class="a">
    <div class="b">
    <p><h3>欢迎使用AAA</h3></p>
        <p style="color: #4d4b4b">您的邮箱注册验证码为：<span style="color:#1448d0;font-size:2rem  ">{{ code }}</span>, 该验证码有效时间为五分钟，请及时进行验证。</p>
    </div>

</div>

</body>
</html>